<%- include('partials/header') %>

<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
      <h1>You Entered Wrong Credentials</h1>
      <button type="submit" name="button"><a href="/login">Go Back</a></button>
     <div class="form-group">

</div>
</div>
</div>
</div>
</div>









<%- include('partials/footer') %>
